main {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-areas:
        "containerFormLogin containerPageLogin containerPageLogin ";
}

.containerPageLogin {
    grid-area: containerPageLogin;
    background-color: transparent;
    height: 100vh;
    margin: 0 auto;
}

.containerFormLogin {
    grid-area: containerFormLogin;
    height: 100vh;
    background-color: var(--cor-menu-login);
}

.containerImagem {
    display: flex;
    align-items: center;
    height: 100vh;
}

.formLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 100vh;
    margin: 0 auto;
}

.formLogin input {
    width: 70%;
    padding: 0.4rem;
    border: none;
    border-radius: 10px;
    outline: none !important;
    background-color: var(--cor-fonte-login);
   
}

input:focus {
    border: 2px solid #403f3f;
}

.formLogin label {
    color: var(--cor-fonte-login);
    font-weight: bold;
    font-size: 1.2rem;
    padding: 0.5rem;
}

.btnEntrar {
    background-color: var(--cor-fonte-login);
    color: var(--cor-menu-login);
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
 
}

.btnEntrar:hover {
    background-color: #4c7cac;
}

.containerAcoes {
    width: 50%;
    display: flex;
    justify-content: center;
    /* align-items: center;
    text-align: center; */
    /* margin: 0 auto; */
}

.imagemLogin {
    width: 600px;
    height: 500px;
}