.containerHome {
    background-color: var(--cor-fonte-login);
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.containerHeaderHome {
    background-color: var(--cor-menu-login);
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: end;
}

.containerHeaderHome div {
    display: flex;
    /* padding: 1rem; */
    margin-right: 1rem;
    align-items: center;
}

.containerHeaderHome button{
    background-color: var(--cor-fonte-login);
    color: var(--cor-menu-login);
    border: none;
    border-radius: 10px;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    padding: 0.2rem;
}

.containerHeaderHome button:hover {
    background-color: #4c7cac;
}